{{#each locationDisplay as |review|}}
<div>
    <h1>Location: {{review.location.location_name}}
    </h1>
    <p>Title: <a href="/api/reviews/{{review.id}}">{{review.title}}</a>
    </p>
    <p>Review:
        <br>
        {{review.review}}
    </p>
</div>
<div>
    <p>Submitted by: 
        {{review.user.name}}, {{review.user.email}}
    </p>
    <br>
</div>
{{/each}}
