<div>
    <div id="locationCard">
            <h1 id="locationName">{{locationDisplay.location_name}}</h1>
            <h2 id="cityName">{{locationDisplay.city}}</h2>
            <p id="locationDescription">{{locationDisplay.description}}</p>
        </div>
    <div class="location-reviews">
        <div class="field">
            <button onclick="location.href = '/reviewCreate/{{locationDisplay.id}}'" class="button" id ="reviewBtn">Create new
                review</button>
        </div>
        <div class="field">
            <button onclick="location.href = '/api/reviews/locations/{{locationDisplay.id}}'" class="button" id ="reviewBtn">View All
                Reviews</button>
        </div>
    </div>
</div>