<div>
    <p>Title: {{oneReviewDisplay.title}}</p>
    <p>Review: {{oneReviewDisplay.review}}</p>
    <p>Location: {{oneReviewDisplay.location.location_name}}</p>
    <p>Description: {{oneReviewDisplay.location.description}}</p>
    <p>User: {{oneReviewDisplay.user.name}}, {{oneReviewDisplay.user.email}}
    </p>
</div>