<div>
    <h1>Review Updated!</h1>
    <p>Title: {{updateReviewDisplay.title}}</p>
    <p>Review: {{updateReviewDisplay.review}}</p>
    <p>Location: {{updateReviewDisplay.location.location_name}}</p>
    <p>Description: {{updateReviewDisplay.location.description}}</p>
    <p>User: {{updateReviewDisplay.user.name}}, {{updateReviewDisplay.user.email}}
    </p>
</div>