<div>
    <h1>Reviews by {{userName}}</h1>
</div>
{{#each userDisplay as |reviews|}}
<div>
    <p>
        Location: <a href="/api/locations/{{reviews.location.id}}">{{reviews.location.location_name}}</a>
        </br>
        Description:
        </br>
        {{reviews.location.description}}
    </p>
    <div>
        <p>
            Title: {{reviews.title}}
            </br>
            Review:
            </br>
            {{reviews.review}}
        </p>
        <br>
    </div>
</div>
{{/each}}

<div>
    <a href="/api/users/{{userID}}"><h1>Back to {{userName}}'s profile</h1></a>
</div>
