<div>
    <p>Name: {{oneUser.name}}</p>
    <p>Email: <a href="mailto:{{oneUser.email}}">{{oneUser.email}}</a></p>
    <p><a href="/api/reviews/users/{{oneUser.id}}">See all reviews by {{oneUser.name}}</a></p>
</div>
